body {
  font-family: "IBM Plex Serif", serif;
}

h1 {
  color: #0e695a;
  font-size: 26px;
  font-weight: 900;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(32, 1, 73);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  padding: 15px;
  border: 5px solid #ecd2fc;
  border-radius: 10px;
  background-color: #a1ebfd;
}

.overview {
  margin-bottom: 10px;
}

.weather-temperature img {
  margin-right: 7px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(32, 1, 73);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(32, 1, 73);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
  color: rgb(124, 124, 124);
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
